.header{
  background-color: #43A047;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  color: #C7E3C8;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.addNew{
  padding:5px;
  border-radius: 25px;
  color: #E1F0E2;
  background-color: #69B36C;
  width: auto;
  font-size: 20px;
  border-color: #E1F0E2;
}
input{
  border-radius: 25px;
}
