.header{
  background-color: #43A047;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.title{
  color: #C7E3C8;
  font-size: 30px;
}
.addNew{
  padding:5px;
  border-radius: 25px;
  color: #E1F0E2;
  background-color: #69B36C;
  width: auto;
  font-size: 20px;
  border-color: #E1F0E2;
}
