.todo-item__top-todo-section{
  padding:10px;
  border-radius: 25px;
  min-width: 135vh;
  color: #E1F0E2;
  border-color: #69B36C;
  border-style: solid;
  background-color: #69B36C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.todo-item{
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-form__input-form{
  display: flex;
  flex-direction: row;
}

 .todo-list-form{
  padding: 10px;
  border-radius: 25px;
  background:  #43A047;
  color: #E1F0E2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item-list{
  overflow: auto;
  height: 75vh;
  padding: 15px;
  min-height: 75vh;
  min-width: 155vh;
}

.todo-item:empty::before{
  content: attr(data-empty-message);
}

.todo-item__top-right-todo-section{
  display: flex;
  flex-direction: row;
  align-items:center;
}

li{
  border-radius: 25px;
  min-width: 105px;
  min-height: 10px;
  padding: 5px;
  margin: 5px;
  background: #E1F0E2;
  color: #43A047;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comments-form__comments-list{
  overflow: auto;
  min-height: 6vh;
  max-height: 6vh;
  display: flex;
  flex-direction: column;
}

.comments-form__top-comments-section{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.comments-form{
  border-color: #69B36C;
  border-style: solid;
  background-color: #69B36C;
  width: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #C7E3C8;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.edit-form{
  border-color: #69B36C;
  border-style: solid;
  background-color: #69B36C;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #C7E3C8;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

i{
  margin: 10px;
  font-size: 32px;
}

.todo-item__title{
  font-size: 18px;
}

.todo-item__description{
  font-size: 12px;
}

.fa-check-active {
  color: #e74c3c;
}

.fa-edit-active{
  color: #0040FF;
}

.fa-times{
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.fa-times:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

input{
   margin: 10px;
   padding: 5px;
   font-size: 16px;
   background-color: #E1F0E2;
   color: #43A047;
 }

.todo-item__like {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
}
.todo-item__like:active {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
